body {
     background-color: #F8F8FF;
     /*font-family: 'Dosis';*/
     font-family: 'Roboto', sans-serif;
 }
 
 /*Override de la pagina welcome*/
 .jumbotron h1{
     font-size: 30px;
 }
 .subtitle-welcome h2{
     margin-top: 0px;
     font-size: 25px;
 }
 
 .titulo {
     font-size: 2.5em;
     color: #2980B9;
     margin-top:5px;
 }

 .titulo-seccion {
     font-size: 2em;
     text-align: center;
     color: #5DADE2;
     font-weight: lighter;
 }


nav.navigation-color
{
    background: rgb(190,224,220);
    /*background: rgb(140,200,190);
    background: #eee;*/
}

a.navbar-brand{
    padding: 6px;
}

.alert{
    position:absolute;
    width: 100%;
    top: 50px;
    z-index: 35;
    display: block;
}

.alert:hover{
    cursor: pointer;
}

footer{
    text-align: center;
    background: #eee;
    padding: 1em;
    width: 100%;
    height: 15vh;
    position: relative;
    bottom: -0.5em;
    argin-top: 40px;
}

.layout-color-main{
    color: #32508E;
}

.contenedor-global{
    /*El contenedor global ocupa un procentaje de la altura del naavegador como mínimo*/
    min-height: 90vh;
}
