body {
     background-color: #F8F8FF;
     /*font-family: 'Dosis';*/
     font-family: 'Roboto', sans-serif;
 }
 
 
 .titulo {
     font-size: 2.5em;
     color: #2980B9;
 }

 .titulo-seccion {
     font-size: 2em;
     text-align: center;
     color: #5DADE2;
     font-weight: lighter;
 }


nav.navigation-color
{
    background: #eee;
}

.alert{
    position:absolute;
    width: 100%;
    top: 50px;
    z-index: 35;
    display: block;
}

.alert:hover{
    cursor: pointer;
}

footer{
    position: fixed;
    bottom: 0em;
    text-align: center;
    background: #eee;
    padding: 1em;
    width: 100%;
}

.layout-color-main{
    color: #32508E;
}